.body {
    max-width: 540px;
    min-width: 320px;
    margin   : 0 auto;
    font     : normal 14px/1.5 Tahoma, "Lucida Grande", Verdana,
        "Microsoft Yahei";
    color                      : #000;
    background                 : #f2f2f2;
    overflow-x                 : hidden;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

img {
    vertical-align: top;
}

a {
    color          : #222;
    text-decoration: none;
}

.search-index {
    display          : flex;
    position         : fixed;
    top              : 0;
    left             : 50%;
    -webkit-transform: translate(-50%);
    transform        : translate(-50%);
    width            : 100%;
    height           : 44px;
    max-width        : 540px;
    min-width        : 320px;
    background-color : #f6f6f6;
    border-top       : 1px solid #ccc;
    border-bottom    : 1px solid #ccc;
}

.search {
    position     : relative;
    height       : 26px;
    border       : 1px solid #ccc;
    flex         : 1;
    font-size    : 12px;
    color        : #666;
    line-height  : 28px;
    padding-left : 25px;
    margin       : 10px;
    border-radius: 5px;
    box-shadow   : 0 2px 4px rgba(0, 0, 0, .2);
}

.search::before {
    content        : "";
    position       : absolute;
    top            : 5px;
    left           : 5px;
    width          : 17px;
    height         : 15px;
    background     : url(images/sprite.png) no-repeat -57px -277px;
    background-size: 104px auto;

}

.search-index .user {
    width     : 44px;
    height    : 44px;
    font-size : 12px;
    text-align: center;
    color     : rgba(0, 26, 175, 0.712);
}

.search-index .user::before {
    content        : "";
    display        : block;
    width          : 27px;
    height         : 23px;
    background     : url(images/sprite.png) no-repeat -56px -194px;
    background-size: 104px auto;
    margin         : 5px auto 0;
}

.focus {
    margin-top: 48px;
}

.focus img {
    width: 100%;
}

.local-nav {
    display         : flex;
    height          : 64px;
    background-color: rgb(114, 107, 107);
    border-radius   : 8px;
    margin          : 3px 4px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    font-size     : 12px;
    cursor        : pointer;
}

.local-nav li [class^="local-nav-img"] {
    width          : 32px;
    height         : 32px;
    margin         : 8px 4px;
    background     : url(images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}

.local-nav li .local-nav-img-ic0 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-img-ic1 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-img-ic2 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-img-ic3 {
    background-position: 0 -128px;
}

nav {
    overflow     : hidden;
    border-radius: 10px;
    margin       : 0 4px 3px;
}

.nav-common {
    display   : flex;
    height    : 88px;
    background: -webkit-linear-gradient(left, red, blue);
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    flex          : 1;
    display       : flex;
    flex-direction: column;
}

.nav-items:nth-child(-n+2) {
    border-right: 1px solid #f2f2f2;
}

.nav-items a {
    flex       : 1;
    text-align : center;
    line-height: 44px;
    color      : #fff;
    font-size  : 14px;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #f2f2f2;
}

.nav-items:nth-child(1) a {
    border-bottom  : 0;
    background     : url(images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.subnav-entry {
    display         : flex;
    flex-wrap       : wrap;
    border-radius   : 8px;
    background-color: #fff;
    margin          : 0 4px;
    padding         : 5px 10px;
    box-shadow      : 1px 1px 2px rgba(0, 0, 0, .2);
}

.subnav-entry li {
    flex: 20%;
    /* 一根筋要给宽度 */
}

.subnav-entry li a {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.subnav-entry-ic {
    width          : 28px;
    height         : 28px;
    margin-top     : 4px;
    background     : url(images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}

.sales-box {
    border-top      : 1px solid rgb(56, 54, 54, .5);
    margin          : 4px;
    background-color: #fff;
}

.sales-hd {
    position  : relative;
    border-top: 1px solid #ccc;
    height    : 44px;
}

.sales-hd h2 {
    position   : relative;
    top        : -5px;
    text-indent: -999px;
    overflow   : hidden;
}

.sales-hd h2::after {
    position       : absolute;
    /* top         : 5px; */
    left           : 8px;
    content        : "";
    width          : 79px;
    height         : 15px;
    background     : url(images/hot.png) no-repeat 0 -20px;
    background-size: 80px auto;
}

.more {
    position     : absolute;
    right        : 10px;
    top          : 8px;
    font-size    : 12px;
    padding      : 8px 20px 3px 10px;
    border-radius: 15px;
    color        : #fff;
    text-align   : center;
    background   : -webkit-linear-gradient(left, #ff506c, #cc5);
}

.more::after {
    content     : "";
    position    : absolute;
    top         : 11px;
    right       : 9px;
    width       : 7px;
    height      : 7px;
    border-top  : 1px solid #fff;
    border-right: #fff 1px solid;
    transform   : rotate(45deg);
}

.row {
    display: flex;

}

.row a {
    flex         : 1;
    border-bottom: 1px solid #ccc;
}

.row a img {
    width: 100%;
}

.row a:nth-child(1) {
    border-right: solid 1px #ccc;
}
