/* 声明文字 */
@font-face {
    font-family: 'icomoon';
    src        : url('../fonts/icomoon.eot?xqymzd');
    src        : url('../fonts/icomoon.eot?xqymzd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xqymzd') format('truetype'),
        url('../fonts/icomoon.woff?xqymzd') format('woff'),
        url('../fonts/icomoon.svg?xqymzd#icomoon') format('svg');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
}

/* 版心 */
.w {
    width : 1200px;
    margin: 0 auto;
}

/* 快捷导航模块 */
.shortcut {
    height          : 31px;
    line-height     : 31px;
    font-size       : 16px;
    background-color: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut ul li {
    float: left;
}

.style_red {
    color: #c81623;
}

#register_1 {
    text-decoration: none;
}

.shortcut .fr ul li:nth-child(even) {
    width           : 2px;
    height          : 12px;
    background-color: #666;
    margin          : 11px 15px 0;
    line-height     : 12px;
}

.arrow-icon::after {
    content    : "\e900";
    font-family: "icomoon";
    margin-left: 6px;
}

.header {
    position: relative;
    height  : 105px;
}

.header .logo {
    position: absolute;
    top     : 25px;
    width   : 174px;
    height  : 61px
}

.logo a {
    display    : block;
    width      : 174px;
    height     : 61px;
    background : url(../images/logo.png) no-repeat;
    text-indent: -999px;
}

.search {
    position: absolute;
    top     : 25px;
    left    : 346px;
    width   : 538px;
    height  : 36px;
    border  : 2px solid #b1191a;
}

.search input {
    width       : 455px;
    height      : 32px;
    padding-left: 6px;
}

.search button {
    position        : absolute;
    top             : -1px;
    width           : 80px;
    height          : 33px;
    background-color: #b1191a;
    font-size       : 17px;
    font-weight     : 500;
    color           : #fff;
}

.hotwords {
    position: absolute;
    top     : 66px;
    left    : 346px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position        : absolute;
    right           : 60px;
    top             : 25px;
    width           : 140px;
    height          : 35px;
    border          : 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height     : 35px;
    text-align      : center;
    font-size       : 14px;
}

.shopcar::before {
    position    : absolute;
    top         : 0;
    left        : 8px;
    content     : '\e93b';
    font-family : 'icomoon';
    margin-right: 5px;
}

.shopcar::after {
    position   : absolute;
    top        : 1;
    right      : 15px;
    content    : '';
    font-family: 'icomoon';
}

.count {
    position        : absolute;
    top             : -5px;
    left            : 105px;
    height          : 14px;
    font-size       : 12px;
    line-height     : 14px;
    color           : rgb(255, 255, 255);
    background-color: #e60012;
    padding         : 0 5px;
    border-radius   : 7px 7px 7px 0;

}

.nav {
    height       : 48px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown,
.nav .navitems {
    float: left;
}

.nav .dropdown {
    width           : 210px;
    height          : 45px;
    background-color: #b1191a;
}

.dropdown .dt {
    width      : 100%;
    height     : 100%;
    color      : #fff;
    text-align : center;
    line-height: 45px;
    font-size  : 16px;
    color      : #fff;
}

.dropdown .dd {
    /* display         : none; */
    width           : 210px;
    height          : 465px;
    background-color: #c81623;
    margin-top      : 2px;
}

.dropdown .dd li {
    position     : relative;
    height       : 31px;
    line-height  : 31px;
    margin-left  : 1px;
    padding-left : 10px;
    /* transition: all .6s; */
}

.dropdown .dd li::after {
    position     : absolute;
    top          : 5px;
    right        : 5px;
    font-family  : 'icomoon';
    content      : '';
    color        : #fff;
    font-size    : 14px;
    padding-right: 3px;
}

.dropdown .dd li a {
    color    : #f1f1f1;
    font-size: 14px
}

.dropdown .dd li:hover {
    background-color: #fff;
}

.dropdown .dd li:hover a {
    font-size: 14px;
    color    : #c81623;
}

.navitems {
    margin-left: 5px;
}

.navitems ul li {
    float: left;
}

.navitems ul li a {
    display    : block;
    height     : 45px;
    padding    : 0 25px;
    line-height: 48px;
    font-size  : 16px;
    color      : #666;
}

.footer {
    height          : 386px;
    background-color: #f5f5f5;
    padding-top     : 30px;
}

.footer .mod_service {
    height       : 80px;
    border-bottom: 1px solid #ccc;
}

.footer .mod_service li {
    float : left;
    width : 300px;
    height: 50px;
}

.footer .mod_service li h5 {
    float       : left;
    width       : 50px;
    height      : 50px;
    margin-left : 35px;
    margin-right: 8px;
    background  : url(../images/icons.png) no-repeat -252px -2px;
}

.service_txt {
    padding-top: 5px;
}

.service_txt h4 {
    font-size: 14px;
}

.service_txt p {
    font-size: 12px;
}

#kuai {
    background-position: -255px -54px;
}

#bao {
    background-position: -257px -105px;
}

#star {
    background-position: -257px -156px;
}

.mod_help {
    height       : 187px;
    border-bottom: 1px solid #ccc;
}

.help_item {
    float      : left;
    width      : 150px;
    padding    : 20px 0 0 50px;
    margin-left: 30px;
    ;
}

.help_item dt {
    font-size    : 16px;
    height       : 25px;
    margin-bottom: 5px;
}

.mod_help dl:nth-last-child() {
    width        : 100px;
    height       : 67px;
    /* text-align: center; */
}

.mod_help_app dt,
.mod_help_app p {
    padding-left: 15px;
}

.mod_copyrght_links,
.mod_copyrght_info {
    text-align: center;
    margin    : 20px 0 15px 0;
}

/* 更加美观最后一步可以不写 */
.mod_copyrght_info {
    margin-top: -3px;
}